actividades {
	display: flex;
    img {
        margin-top: 55px;
        width: 250px;
        height: 200px;
        margin-left: 25%;
        display: block;
        margin: auto;
}
act {
	padding: 50px;
	font-family: 'Quicksand', sans-serif;
    p {
        margin-top: 10px;
        width: 100%;
    }
}
